.punkty2 {
    color: greenyellow;
}
.zycia2 {
    color: red;
}
.zycia {
    color: red;
}
.punkty {
    color: greenyellow;
}
.game {
    margin: auto;
    text-align: center;
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.gameboard {
    border: 3px solid rgb(24, 252, 16);
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    background-color: black;
}

.friut {
    width: 20px;
    height: 20px;
    opacity: 0;
}

.friut.peach {
    background-image: url(./2.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 66px;
}

.friut.orange {
    background: orangered;
}

.friut.apple {
    background: green;
}

.friut.banana {
    background: yellow;
}
.lose {
    color: rgb(156, 18, 8);
}
.tryb_nocny {
    background-image: url(./3.png);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-color: transparent;
}