body {
    font-family: arial;
    color: white;
}
table tr td:nth-child(2) {
    width:405px;
}
a {
    color: yellow;
}
.banner, .panel_prawy, .stopka {
    background: #5957a1;
    text-align: center;
}
.panel_lewy {
    float: left;
    background: #bbadcd;
    width: 65%;
    overflow: scroll;
    height: 450px;
}
.banner {
    padding: 10px;
}
.panel_prawy {
    float: left;
    width: 35%;
    height: 450px;
}
.stopka {
    clear: both;
}
table td{
    border: 1px dashed red;
}
ul li {
    list-style-type: square;
}