.t1 {
    text-align: center;
}
.t2 {
    text-align: center;
}
.t3 {
    text-align: center;
}
.k1 {
    background-image: url(./2.jpg);
    width: 150px;
    height: 150px;
    font-size: 100px;
    border: 2px solid black;
}
body {
    background-image: url(./1.jpg);
}