.naglowek {
    text-align: center;
    font-family: arial;
    font-size: 70px;
    background: rgb(255, 145, 151);
    border: 3px ridge rgb(83, 157, 253);
    border-radius: 5px;
}
.gameboard{ 
    text-align: center;
    font-family: arial;
}
.panel_lewy, .panel_prawy{ 
    align: center;
    width:50%;
    float:left;
}
.opcja1, .opcja2 {
    /* padding: 50px; */
   background: rgb(255, 255, 255);
  display: inline-block;
}
.btn.losuj  {
    padding: 15px 50px;

}
.panel_lewy .inside1 {
    border: 1px dashed rgb(255, 126, 126);
    height: 200px;
    font-family: arial;
    font-size: 43px;
}
.panel_lewy {
    background-image: linear-gradient(rgb(255, 181, 181),rgb(255, 126, 126));
    height: 200px;
    position: relative;
    overflow: hidden;
}
.panel_prawy .inside2 {
    border: 1px dashed rgb(108, 171, 255);
    height: 200px;
    font-family: arial;
    font-size: 43px;
}

.panel_prawy {
    background-image: linear-gradient(rgb(172, 207, 253),rgb(108, 171, 255));
    height: 200px;
    position: relative;
    overflow: hidden;
}
.opcja1 {
    background-image: url(./player1.png);
    width: 182px;
    height: 182px;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
   
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    right: 50%;
}
.wiersz_bottom .panel_lewy, .wiersz_bottom .panel_prawy {
    height: 400px;
    position: relative;
}
.opcja2 {
    background-image: url(./player2.png);
    width: 182px;
    height: 182px;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
   
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    right: 50%;
}

