.baner{
    background-color: #829EB9;
    height: 80px;
    text-align: center;
    font-family: Arial;
    padding-top: 10px;
}
.plewy{
    background-color:  #B3C6D9;
    height: 500px;
    width: 25%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    float: left;
}
.pprawy{
    background-color: #E0E9F1;
    height: 500px;
    width: 75%;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
    float: left;
}
.stopka{
    background-color: yellow;
    text-align: center;
    font-family: Arial;
    height: 50px;
    clear: both;
}
img{
    padding: 10px;
    margin: 30px;
}