.body{
    font-family: Verdana, sans-serif;
    background: #921a3e;
}
.naglowek, .stopka{
    background-color: #921a3e;
    padding:20px;
    text-align: center;
    color: white;
    font-size: 120%
}
.blok_lewy {
    float: left;
    background-color: #c2bbbb;
    height: 500px;
    width: 40%;
}
.blok_prawy {
    float: left;
    background-color: #c2bbbb;
    height: 500px;
    width: 60%;
}
img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #000000;
}    
.stopka{
    clear: both;
}
