body {
    background: white;
    font-family: Arial;
    color: white;
}    
.panel_lewy {
    background: url('tlo1.png');
    width: 65%;
    height: 450px;
    text-align: left;
    color: black;

}
.panel_prawy{
    text-align: left;
    color: black;
}

.banner {
    padding: 10px;
    height: 70px;
}
h2{
    text-align: center;
    color: black;
}
h3{
    font-size: 10px;
    color: black;
}
li{
    color: black;
}

a {
    color: yellow;
}