.banner {
    background-color: #42413e;
    text-align: center;
    height: 60px;
    color: white;
}
.stopka {
    background-color: #42413e;
    text-align: center;
    height: 25px;
    clear: both;
    color: red;

}
.panel_lewy {
    background-color: #42413e;
    color: white;
    text-align: center;
    width: 30%;
    height: 500px;
    float: left;
}
.panel_prawy {
    background-color: #2e2d2c;
    color: white;
    width: 70%;
    height: 500px;
    float: left;
    overflow: scroll;
}
hr {
    color: #ffd87e;
}
body {
    font-family: Tahoma;
    background: #42413e;
}
a {
    color: red;
}
table td{
    border: 1px dashed red
} 
