body {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
    color: white;

}
#gameboard {
    max-width: 750px;
    margin: auto;
    text-align: center;
    display: block;
    font-size: 45px;

}

.naglowek {
    font-family: "Verdana" , Verdana, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    font-size: 60px;
}

.box {
    display: inline-block;
    border: 1px solid rgb(243, 158, 222);
    border-radius: 5px;
    width: 100px;
    margin: 5px;
    height: 150px;
    transition: .3s all ease-in-out;
}

.box {
    background-image: url(./tlo.jpg);
}

.Card0[data-card="open"],
.Card0[data-card="done"] {
    background-image: url(./card1.jpg);
}

.Card1[data-card="open"],
.Card1[data-card="done"] {
    background-image: url(./card2.jpeg);
}

.Card2[data-card="open"],
.Card2[data-card="done"] {
    background-image: url(./card3.jpg);
}

.Card3[data-card="open"],
.Card3[data-card="done"] {
    background-image: url(./card4.jpg);
}

.Card4[data-card="open"],
.Card4[data-card="done"] {
    background-image: url(./card5.jpg);
}

.Card5[data-card="open"],
.Card5[data-card="done"] {
    background-image: url(./card6.jfif);
}

.Card6[data-card="open"],
.Card6[data-card="done"] {
    background-image: url(./card7.jpg);
}

.Card7[data-card="open"],
.Card7[data-card="done"] {
    background-image: url(./card8.jfif);
}

.Card8[data-card="open"],
.Card8[data-card="done"] {
    background-image: url(./card9.jpg);
}

.Card9[data-card="open"],
.Card9[data-card="done"] {
    background-image: url(./card10.jpg);
}

.Card10[data-card="open"],
.Card10[data-card="done"] {
    background-image: url(./card11.jpg);
}

.gui,
.game-title {
    font-family: "Verdana" , Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}