.obrazek {
    border: 3px solid white;
    width: 600px;
    height: 500px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .letter_password {
    padding: 30px;
    border-bottom: 3px solid white;
    margin: 3px;
  }

  .empty_letter_password {
    padding: 15px;
    margin: 3px;
    border-bottom: 0px !important;
  }

  .litery {
    clear: both;
    text-align: center;
  }

  #haslo {

    display: block;
    text-align: center;
    height: 65px;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  body {
    background-image: url(./tlo.png);
    font-size: 50px;
    font-family: fantasy;
    color: black;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh

  }
  .xd, .beka {
    text-align: center;
    font-size: 40px;
  }