body {
    font-family:arial;
    font-weight:400;
}
.panel { 
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
padding: 2.5%;
width: 45%;
background: #fff;
margin: 25px auto;
}
label { 
    min-width:150px;
    display:inline-block;
}
h1 { 
text-transform: uppercase;
font-weight: 300;
font-family: arial;
font-size: 1.75rem;
text-align: center;
}
input[type=text], input[type=password], input[type=date], input[type=email] {
width: 100%;
padding:5px;
}
input[type="submit"] {
    background: none;
border: 1px solid black;
padding: 10px 25px;

display: inline-block;
cursor: pointer;
margin: 20px auto;
}
.uzytkownicy_panel {
float: left;
width: 100%;
background: #eee;
}
.uzytkownicy_panel .panel {
float: left;
}
.formularz_rejestracja {
background: #4f596f;
float: left;
width: 100%;
}
.naglowek_blue {
color: #fff;
background: #312f3b;
margin: 0;
padding: 20px 0;
clear: both;
}
.naglowek_red {
display: block;
background: #6d2929;
padding: 20px;
margin: 0;
clear: both;
color: white;
}
.btn_danger { 
background: #a62727  !important;
border: 1px solid  !important;
color: white  !important;
font-weight: 700  !important;
}
.btn_success {
background: #239647 !important;
color: white  !important;
border: 1px solid  !important;
font-weight: 700  !important;
}
.row > div {
float:left;
}
.wyszukaj th {
background: #000;
color: #fff;
}
.wyszukaj th, .wyszukaj td {
border: 1px solid;
padding: 15px;
border-color: #cfcfcf;
}
.admin_menu{
    background: #239647;
    color: #fff;
    text-align: center;;
}
.admin_menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.admin_menu h1 {
    margin: 0;
    padding: 20px 0;
}
.admin_menu form {
    display: inline-block;
    background: none;
}
.admin_menu form button {
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 1rem;
}
.admin_menu form button:hover {
    background: transparent;
    color: lightseagreen;
    border: 0;
    font-size: 1rem;
    border: solid rgb(0, 140, 255) 3px;
    padding: 5px 5px;
}

.admin_table tr:first-child td {
    background: #002280;
    color: #fff;
    padding: 10px;
}

.admin_table {
    width: 100%;
}

.admin_table td {
    background: #7098ee;
    padding: 5px;
}

a.btn {
    background: #002280;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

textarea {
    width: 100%;
    min-height: 200px;
    resize: none;
}

input[name=tytul]{
    width: 100%;
    padding: 5px 0;
}

.info {
    background: olivedrab;
    display: block;
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: white
}

.btn_create {
    display: block;
    color: white;
    background: olivedrab;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
}

.menu {
    width: 25%;
    background: #000;
    color: rgb(226, 25, 25);
    display: flex;
    height: 100vh;
  }
  .web {
    display: flex;
    height: 100%;
  }
  .menu a {
    color: #52ff0e;
  }
  .content {
      background: #52ff0e;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
  }
  h1 {
    display: block;
    width: 100%;
}
.newsy_panel {
    text-align: center;
}