body {
    font-family: Arial, Helvetica, sans-serif;
}
.gora, .gora2 {
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
}
.baner, .stopka {
    background-color: rgb(100, 61, 49);
    color:white;
    text-align: center;
    height: 80px;
    padding: 5px;
    width: 100%;
    clear: both;
}
.lewy, .prawy {
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 480px;

}
#zamowienie {
    background-image: url("./cukierki1.jpg");
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}
#tabela {
    border: 2px dashed green;
    margin: 30px;
    padding: 20px;
}
#tabela td {
    border: 2px dashed green;
    margin: 30px;
    padding: 20px;
}
h1 {
    letter-spacing: 20px ;
    font-size: 250%;
}
.lewy {
    float: left;
}
.prawy {
    float: left;
}
.gora{
    float: left;
}
.gora2 {
    float: left;
}
