.banner {
    background-color: #af8c4b;
    text-align: center;
    height: 60px;
    color: white;
}
.stopka {
    background-color: #af8c4b;
    text-align: center;
    height: 25px;
    clear: both;
    color: white;

}
.panel_lewy {
    background-color: #af8c4b;
    color: black;
    text-align: right;
    width: 30%;
    height: 500px;
    float: left;
}
.panel_prawy {
    background-color: #ffd87e;
    color: white;
    width: 70%;
    height: 500px;
    float: left;
    overflow: scroll;
}
hr {
    color: #ffd87e;
}
body {
    font-family: Tahoma;
    background: #42413e;
}
a {
    color: #ffd87e;
}
table td{
    border: 1px dotted black;
} 
h1 {
    color:black;
}
h3 {
    color: black;
}
ul {
    color: #ffd87e;
}
