body{
    background-image: url(./tlo1.gif);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
    color: white;
    text-align: center;
}
.t1{
    text-align: center;
}
.t2{
    text-align: center;
}    
.t3{
    text-align: center;
}
.k1{
    width: 150px;
    height: 150px;
}
.kratki{
    margin-top: 200px;
}
.k1{
    background: url(./tlo2.png);
    border: 0px;
}
.player1{
    background: url(./celownik3.png);
    background-size: 100%;
}
.player2{
    background: url(./celownik1.png);
    background-size: 100%;
}


