.baner { 
    background-color: #45517D; 
    color: white; 
    font-size: 120%; 
    text-align: right; 
    height: 60px; 
} 
.panel_lewy { 
    background-color: #61B2EC; 
    width: 40%; 
    height: 500px; 
    float: left; 
} 
.panel_prawy { 
    background-color: #8EC9F2; 
    width: 60%; 
    height: 500px; 
    float: left; 
} 
.stopka { 
    background-color: #45517D; 
    color: white; 
    font-size: 150%; 
    text-align: center; 
} 
a:link { 
    color: orange;     
    } 
a:visited { 
    color: green; 
} 
ol { 
    width: 100%; 
} 


/* Skopiowane od Dominika gdyż 2 razy mi usuneło plik przy próbie pushnięcia