table>tr>td:nth-child(2) {
    width: 450px;
}
body {
    background: url('tlo1.jpg');
    color: #ffffff;
    font-family: Arial;
}
a {
    color: yellow;
}
.bahner, .panel_prawy, .stopka {
    background: url('tlo1.jpg');
    text-align: center;
}
.panel_lewy {
    background: url('tlo1.jpg');
    width: 65%;
    height: 450px;
    overflow-y: scroll;
}
.panel_prawy{
    width: 35%;
    height: 450px;
}
.banner {
    padding: 10px;
}
.stopka{
    height: 50px
}
hr{
    border-color: yellow;
    background-color: yellow;
}
ul li{
    list-style-type: square;
}
table td{
    border: 1px dashed red;
}


