body {
    font-family:arial;
    font-weight:400;
    background: #d8e5ff;
}
.panel { 
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
padding: 2.5%;
width: 45%;
background: #fff;
margin: 25px auto;
}
label { 
    min-width:150px;
    display:inline-block;
}
h1 { 
text-transform: uppercase;
font-weight: 300;
font-family: arial;
font-size: 1.75rem;
text-align: center;
}
input[type=text], input[type=password], input[type=date], input[type=email] {
width: 100%;
padding:5px;
}
input[type="submit"] {
    background: none;
border: 1px solid black;
padding: 10px 25px;

display: inline-block;
cursor: pointer;
margin: 20px auto;
}
.uzytkownicy_panel {
float: left;
width: 100%;
background: #d8e5ff;
}
.uzytkownicy_panel .panel {
float: left;
}
.formularz_rejestracja {
background: #d8e5ff;
float: left;
width: 100%;
}
.naglowek_blue {
color: #fff;
background: #002280;
margin: 0;
padding: 20px 0;
clear: both;
}
.naglowek_red {
display: block;
background: #002280;
padding: 20px;
margin: 0;
clear: both;
color: white;
}
.btn_danger { 
background: #a62727  !important;
border: 1px solid  !important;
color: white  !important;
font-weight: 700  !important;
}
.btn_success {
background: #239647 !important;
color: white  !important;
border: 1px solid  !important;
font-weight: 700  !important;
}
.row > div {
float:left;
}
.wyszukaj th {
background: #000;
color: #fff;
}
.wyszukaj th, .wyszukaj td {
border: 1px solid;
padding: 15px;
border-color: #cfcfcf;
}
.admin_menu {
    background: #002280;
    color: #fff;
    text-align: center;
}

.admin_menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.admin_menu a:hover {
    background: transparent;
    color: lightseagreen;
    border: 0;
    font-size: 1rem;
    border: solid rgb(0, 140, 255) 3px;
    padding: 5px 5px;
}

.admin_menu h1 {
    margin: 0;
    padding: 20px 0;
}

.admin_menu form {
    display: inline-block;
    background: none;
}

.admin_menu form button {
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 1rem;
}

.admin_menu form button:hover {
    background: transparent;
    color: lightseagreen;
    border: 0;
    font-size: 1rem;
    border: solid rgb(0, 140, 255) 3px;
    padding: 5px 5px;
}

.admin_table tr:first-child td {
    background: #414244;
    color: #fff;
    padding: 10px;
}

.admin_table {
    width: 100%;
    background: #d8e5ff;
}

.admin_table td {
    background: #8bb1ff;
    padding: 5px;
}

a.btn {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

textarea {
    width: 100%;
    min-height: 200px;
    resize: none;
}

input[name=tytul]{
    width: 100%;
    padding: 5px 0;
}

.info {
    background: olivedrab;
    display: block;
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: white
}

.btn_create {
    width: 10%;
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
}

.newsy h1 {
    border-left: 2px solid #002280;
    padding-left: 15px;
    text-align: left;
}
.web {
    display: flex;
    width:100% ;
}
.menu {
    width: 25%;
    background: #002280;
    color: white;
}
.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #8eb3ff;
    text-decoration: none;
}

.menu ul {
    padding: 0;
}
.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #d8e5ff;
}
.content {
    background: #d8e5ff;
    text-align: center;
    width: 75%;
    height:100vh;
}

.web .panel {
    width: 75%;
}

.newsy_panel {
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    padding: 2.5%;
    width: 45%;
    background: #fff;
    margin: 25px auto;
}