body{
    font-family: Arial;
    color: white;
}
table tr td:nth-child(2) {
    width: 405px;
}
a{
    color: yellow;
}
.banner, .panel_prawy, .stopka {
    background: #5957a1;
    text-align: center;
}
.panel_lewy{
    float: left;
    background: #bbadcd;
    width: 65%;
    height: 450px;
    overflow: scroll;
}
.banner{
    padding: 10px;
    height: 70px;
}
.panel_prawy{
    float: left;
    width: 35%;
    height: 450px;
}
hr {
    border-color: yellow;
    background-color: yellow;
}
.stopka {
    clear: both;
    height: 50px;
}
ul li {
    list-style-type: square;
}
table td {
    border: 1px dashed red;
}

