.banner {
    background-color: #af8c4b;
    text-align: center;
    height: 60px;
}
.stopka {
    background-color: #af8c4b;
    text-align: center;
    height: 25px;
    clear: both;
}
.panel_lewy {
    background-color: #af8c4b;
    text-align: right;
    width: 30%;
    height: 500px;
    float: left;
}
.panel_prawy {
    background-color: #ffd87e;
    width: 70%;
    height: 500px;
    float: left;
    overflow: scroll;
}
hr {
    color: #ffd87e;
}
body {
    font-family: Tahoma;
}
a {
    color: #ffd87e;
}