.body{
    font-family: Verdana, sans-serif;
}
.naglowek, .stopka{
    background-color: #4682b4;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 120%;
}
.blok_lewy {
    float: left;
    background-color: #40E0D0;
    height: 500px;
    width: 40%;
    
}
.blok_prawy {
    float: left;
    background-color: #40E0D0;
    height: 500px;
    width: 60%;
}
img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #000000;
}
.stopka {
    clear: both;
}