.game {
    margin: auto;
    text-align: center;

}

.gameboard {
    border: 3px solid #000;
    width: 700px;
    height: 700px;
    position: relative;
    margin: auto;
    background-image: url("./tlo.jpg");
}

.friut {

    width: 50px;
    height: 50px;
    opacity: 0;
}

.friut.peach {
    background-image: url("./owocku1.png");
}

.friut.orange {
    background-image: url("./owocku2.png");
}

.friut.apple {
    background-image: url("./owocku3.png");
}

.friut.banana {
    background-image: url("./owocku4.png");
}
body {
    background-image: url("./tlo2.jpg");
}