.game {
    margin: auto;
    text-align: center;
    font-size: 60px;
    color: rgba(121, 109, 109, 0.897);
    
}

.gameboard {
    border: 3px solid rgb(0, 0, 0);
    width: 800px;
    height: 800px;
    position: relative; 
    margin: auto;
}

.friut {
    width: 90px;
    height: 90px;
    opacity: 0;
}

.friut.peach {
    background: url(./1.png)
}

.friut.orange {
    background: url(./2.png)
}

.friut.apple {
    background: url(./3.png)
}

.friut.banana {
    background: url(./4.png)
}
body {
    background-image: url(./asa.jpeg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}