body {
    background-image: url(./2.jpeg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.game-title {
    color: rgb(238, 24, 24);
}
.gui {
    color: rgb(108, 243, 18);
    font-size: xx-large;
}
.gui2 {
    color: rgb(240, 13, 13);
    font-size: xx-large;
    text-align: center;
}
body {
    
}
.krata {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
    height: 180px;
}
.krata2 {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    height: 180px;
}